  <!-- Admin Scripts -->
  <script src="/js/admin-modals.js"></script>
  <% if (typeof adminScript === 'undefined' || adminScript !== '') { %>
    <script src="<%= typeof adminScript !== 'undefined' && adminScript !== '' ? adminScript : '/js/admin-utils.js' %>"></script>
  <% } %>
  <% if (typeof extraScripts !== 'undefined') { %>
    <%- extraScripts %>
  <% } %>
</body>
</html>
